.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.footer-footer {
  width: 880px;
  display: flex;
  margin-top: 67px;
}

.footer-footer__copyright {
  margin: 0;
  max-width: 319px;
  font-size: 18px;
  line-height: 1;
  color: #545454;
}

@media screen and (min-width: 641px) and (max-width: 920px) {
  .footer-footer {
    max-width: 700px;
    display: flex;
    margin-top: 67px;
  }
}

@media screen and (max-width: 640px) {
  .footer-footer {
    max-width: 282px;
    display: flex;
    margin-top: 67px;
  }

  .footer-footer__copyright {
    font-size: 14px;
    line-height: 1;
  }
}
