.profile {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* ----------------------------------------- */
.profile-avatar {
  display: flex;

  width: 120px;
  height: 120px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.profile-avatar__image {
  display: flex;
  width: 168.75px;
  height: 127.5px;
  position: absolute;
  top: -3.75px;
  left: -24.5px;
  clip-path: circle(40%);
  object-fit: contain;
}

.profile-avatar:hover .profile-avatar__image {
  opacity: 0.6;
}

.profile-avatar__edit_icon {
  position: absolute;
  top: 47px;
  right: 47px;
  width: 26px;
  height: 26px;
  opacity: 0;
  transition: opacity 0.2s;
}

.profile-avatar:hover .profile-avatar__edit_icon {
  opacity: 1;
}

/* ----------------------------------------- */
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 415px;
  margin-left: 30px;
}

.profile-info__name-and-button {
  display: flex;
  justify-content: space-between;
}
/*                      ------------------- */
.profile-info__name {
  font-family: "inter-Medium", sans-serif;
  font-size: 42px;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 16px;
}

.profile-info__name_text_overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/*                      ------------------- */
.profile-info__edit-button {
  background-color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile-info__edit-button-image {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-top: 16px;
}

.profile-info__edit-button-image:hover {
  opacity: 60%;
}
/*                      ------------------- */
.profile-info__about {
  font-size: 18px;
  line-height: 1;
  margin: 0;
}

.profile-info__about_text_overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* -------------------------------- */

.profile__add-button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px inset;
  color: #fff;
  width: 150px;
  height: 50px;
  margin: auto 0 auto auto;
  padding: 0;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (min-width: 641px) and (max-width: 920px) {
  .profile {
    max-width: 700px;
    margin: auto;
  }
}

@media screen and (max-width: 640px) {
  .profile {
    max-width: 282px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }

  .profile-avatar {
    margin: 0 auto 30px;
  }
  /* ------------------------------------------- */
  .profile-info {
    width: 282px;
    margin: 0 auto;

    align-items: center;
    padding-bottom: 36px;
  }

  /* ------------------------------------------- */
  .profile-info__name-and-button {
    width: 224px;
    display: flex;
    justify-content: space-between;
  }

  .profile-info__name {
    font-family: "inter-Medium", sans-serif;
    font-size: 22px;
    line-height: 1;
    /* margin-right: 10px; */
  }

  .profile-info__name_text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile-info__edit-button-image {
    width: 18px;
    height: 18px;
    margin: auto;
  }

  .profile-info__about {
    font-size: 14px;
    line-height: 1;
  }

  .profile-info__about_text_overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  /* ------------------------------------------- */
  .profile__add-button {
    width: 282px;
    margin: auto;
    padding: 0;
  }
}
